http:
  address: 0.0.0.0:3000
  session_ttl: 720h

users:
  - name: "{{ adguard_admin_user }}"
    password: "{{ adguard_admin_password_hash }}"

auth_attempts: 5
block_auth_min: 15
language: fr
theme: auto

dns:
  bind_hosts:
    - 0.0.0.0
  port: 53
  upstream_dns:
    - https://dns10.quad9.net/dns-query
    - https://dns.cloudflare.com/dns-query
  bootstrap_dns:
    - 9.9.9.9
    - 1.1.1.1
  ratelimit: 20
  refuse_any: true
  cache_enabled: true
  cache_size: 4194304
  cache_optimistic: true
  enable_dnssec: false
  hostsfile_enabled: true
  serve_plain_dns: true

tls:
  enabled: false

querylog:
  interval: 2160h
  enabled: true
  file_enabled: true

statistics:
  interval: 24h
  enabled: true

filters:
  - enabled: true
    url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_1.txt
    name: AdGuard DNS filter
    id: 1
  - enabled: true
    url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_2.txt
    name: AdAway Default Blocklist
    id: 2

dhcp:
  enabled: false
  local_domain_name: lan

filtering:
  blocking_mode: default
  filtering_enabled: true
  rewrites_enabled: true
  protection_enabled: true
  rewrites:
    - domain: proxmox.lan
      answer: "{{ proxmox_ip }}"
      enabled: true
    - domain: proxmox.flefevre.fr
      answer: "{{ proxmox_ip }}"
      enabled: true
    - domain: adguard.lan
      answer: "{{ adguard_ip }}"
      enabled: true
    - domain: thallium.lan
      answer: "{{ thallium_ip }}"
      enabled: true
  blocked_services:
    schedule:
      time_zone: Europe/Paris
    ids: []

log:
  verbose: false

schema_version: 34
